<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if form %}
<h1>Aca se agregan las obras</h1>

<form mehotd="POST" action="">
    {% csrf_token %}
 <table>     
{{form}}
</table>
<input type="submit", value="Enviar">
</form>   
{% elif new_obra %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{new_obra.name}}</h5>
        <p class="card-text">{{new_obra.description}}</p>
        <p class="card-text">{{new_obra.price}}</p>
    </div>
</div>
{% endif %}
</body>
</html>